* {
    border: 0;
    margin: 0;
    background-color: darkcyan;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
    color: blanchedalmond;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

